<div class="container">
    <p class="maintitle">About Me</p>
    <div class="container2">
        <p class="red2">Hello there! My name is Jimmy Velasquez and I am a 24 year old recent computer science college graduate, now having my BS in Computer Science which I acquired from San Diego State University.  I have over 7 years of customer service and team collaborative work experience being highly knowledgeable in both customer service relations and computer science. I am constantly absorbing and learning new things about all things computer science with me recently earning my CompTIA A+ certification to further validate my skills. I am eager to join a great company such as yours and become an asset to your company and goals!</p>
        <img class="logo" src="assets/images/image0.jpeg" alt="House">
    </div>
</div>