<div class="container">
    <h1 class="maintitle">My Projects!</h1>
    <br>
    <p class="projecttitle">Project 1: Portfolio Website</p>
    <p class="date">(November 2023 - Present)</p>
    <p class="text">Framework: Angular || Markup Languages: HTML,CSS</p>
    <p class="text">Summary: This website portfolio was created using Angular to showcase my skills effectively through its structured use of Angular components, HTML, CSS, and TypeScript for navigation.

        The portfolio is built around Angular's component-based architecture, where each component encapsulates a specific part of the website's functionality. HTML files define the structure and content of each component, while CSS files style them, ensuring a cohesive and visually appealing presentation.
        
        Page navigation is implemented using TypeScript, leveraging Angular's routing capabilities. This allows seamless transitions between different sections or pages of my portfolio, enhancing user experience and accessibility.</p>
    <p class="projecttitle">Project 2: Task Scheduler</p>
    <p class="date">(Currently Under Construction)</p>
    <p class="text">Intended Command-Line Tool: Bash</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
</div>