.container {
  font-size: 20x;
  padding: 25px 20px; /*0 5px 10px 8px; */
  border-top: 5px solid #008cff;
  min-width: 100%;
  box-sizing: border-box;
  background-color: black;
 /*  background-repeat: repeat;
  background-size: cover; */
  align-items: center;
}
  .container p {
    color: white;
    text-align: center;
    /* margin-bottom: 10px; */
  }

  .bold-text {
    font-weight: bold;
}