<div class="container">
    <div class="container2">
        <div><p class="red">Hello, <br> I'm Jimmy Velasquez</p> <p class="red2">Aspiring Software Developer, Web Designer, and/or IT technician<p> <br> <a routerLink="/projects" routerLinkActive="active" >Portfolio</a> <a routerLink="/about-me" routerLinkActive="active" >Get To Know Me</a> <a routerLink="/contact-me" routerLinkActive="active" >Let's Connect!</a></div>
        <img class="logo" src="assets/images/image2.jpeg" alt="House">
    </div>
</div>
<div class="container3">
<p></p>
<p></p>
<p></p>
</div>